

* {box-sizing: border-box;}

body { font-family: serif; 
	   margin: 0; 
	   padding: 0; 
	 }

header { background-color: lightgray; 
         margin: 0; 
         padding: 3rem;
          }


nav { background-color: lightblue; 
      padding: 2rem 0; }

nav ul li { float: left;
            margin: 0 2rem;
            list-style: none;
            font-size: 1.3rem;
             }

a { text-decoration: none; }   

.logo_image{float: left; padding: 4rem; width:200px; height:200px;}


section {clear: both;}

.aside_1 {text-align: center;}



.row::after { 
content: "";
clear: both;
display: table; 
}

[class*="col-"] {
	float:left; 
	padding: 15px;
	border: 1px solid red;
}

.aside_2 { width: 25%; float: left; }

.article_1 .article_2 footer {width: 75%; float: left;}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.aside_2{}

.article_1 {}

.article_2 {}

footer{}