


* {box-sizing: border-box; }

body { /*font-family: 'Roboto', sans-serif; */
       font-family: Verdana, Helvetica, FreeSans, sans-serif ;
	   margin: 0; 
	   padding: 0;
	   background-color: darkgray;
     }

.description { color: rgb(237,255,235);  }

header { background-color: darkgray; 
         margin: 0; 
         height: 177px;

       }




h2 { background-color:rgb(59,88,127);
     padding-left: 2rem;
     color: rgb(191, 187, 187);
   }

.logo_image{float: left; 
	         width:196px;
	         height:117px;
	         margin-left: 20px;
	         margin-top: 20px;
	       }
	

.aside_1 { float: left;
	       
	       width: 400px; 
	       height: 150px;
           margin-left: 30rem;
	        text-align: center;
	        margin-top: 20px ;
	        font-size: 12px; 
	        line-height: normal; 
	     }

nav { background-color: #663399;
      height: 44px;
      
    }

ul { list-style: none; 
	margin: 0; 
	height: 44px;


   }

nav ul li { float: left;
            margin: 0;
           font-size: 1.3rem;
           text-align: center;
           width: 250px;
           height: 44px;
           border-left: 2px solid darkgrey;
           border-right: 2px solid darkgrey;
           padding-top: 5px;
	      }

.list:hover{background-color: darkgreen;}
.hover:hover{color: slategrey;}

a { box-sizing: inherit;
	text-decoration: none;
	color: white;
	font-size: .8rem;
	font-family: Verdana, Helvetica, FreeSans, sans-serif;
  }   



section {clear: both;}


.row::after { 
content: "";
clear: both;
display: table; 
}

[class*="col-"] {
	float:left; 
	padding: 15px;
}

.aside_2 { width: 25%; float: left; }

.article_1 .article_2 footer {width: 75%; float: left;}


footer{ background-color: slategrey }



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


