/*am still having trouble with my responsive designs and floats. Not sure what to do have emailed 
about this subject but still am not understanding why I can float my aside and sections together. Please help*/

.inst_aside{

  
  width: 10vw;
  

  
  }



.inst_section {
    
    
    float:left;
    
      font-family: Muli, Helvetica, FreeSans, sans-serif ;
      background-color: darkgray;
     /* min-height:inherit*/
      width: 70vw;
      /* min-height: 40rem;    set minimum height to match left navigation bar */
      margin:auto;
}


.inst_img{
  
  width: 25vw;
  float: left;
  margin-right: 1vw;
  
}


.inst_figure {
/* Center, size of the font */  
      clear: both;
      float: left;
      align-content: center;
      margin: .5rem 0rem 0rem .5rem;
      /*background-color: greenyellow;*/
      text-align: center;  /* use this to put figure in the center */
      font-family: Asap, Helvetica, FreeSans, sans-serif ;     /* use google font Asap  - works great as citation */
}

  .inst_figcaption {
      float: left;
    clear: both;
    display: block;
      font-family: Asap, Helvetica, FreeSans, sans-serif ;      /* use google font Asap  - works great as citation */
      font-size: 0.8rem; 
    
      
}
